<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!-- 正式機 -->
    <add key="CNN_TEXT" value="data source=192.168.5.25;initial catalog=i_Factory_SOP_DB;user id=SuperSOP;password=A12345678;max pool size=1000;packet size=4096"/>

    <!-- 測試機 -->
    <!--<add key="CNN_TEXT" value="server=192.168.5.89\SQLEXPRESS;Initial Catalog=i_Factory_SOP_DB;uid=sa;pwd=A12345678;MultipleActiveResultSets=True;Connect Timeout = 10" />-->

    <!--string cnstr = "server=192.168.250.147;database=iFactory;uid=sa;pwd=A12345678;Connect Timeout = 10";-->

    <!-- Excle 檔案 網路資料夾-->
    <!--<add key="XLS_PATH" value="\\192.168.4.58\es-te-nas\Neil\TempData\"/>-->

    <!-- 本機 -->
    <!--<add key="XLS_PATH" value="D:\專案\移轉\ESOP\新增ESOP員工帳號_HRUser_TO_SOP_DB\"/>-->
    <add key="XLS_PATH" value="\\192.168.6.57\d$\專案\ESOP相關工具\HRUser_TO_SOP_DB\HRUser_TO_SOP_DB\bin\Debug"/>
  </appSettings>
</configuration>
